[submodule "Voting_smart_contract"]
	path = Voting_smart_contract
	url = git@github.com:Sanenelisiwe1975/Voting_smart_contract.git
[submodule "Lottorey"]
	path = Lottorey
	url = git@github.com:Sanenelisiwe1975/Lottorey.git
[submodule "NFT_collection"]
	path = NFT_collection
	url = git@github.com:Sanenelisiwe1975/NFT_collection.git
